body {
  font-family : Arial;
}

.revert {
  color: #A9A9A9; 
}

button {
    background-color: #1a9850; /* Green */
    border: none;
    color: white;
    /*padding: 10px 20px;*/
    width: 40px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
